/*---- ZillaSlabHighLight ----*/
@font-face {
  font-family: 'ZillaSlabHighlight';
  src: url('TTFs/ZillaSlabHighlight-Regular.ttf') format('truetype');
  font-weight: normal; /* Specify font weight as normal for regular font */
  font-style: normal; /* Specify font style as normal for regular font */
}
@font-face {
  font-family: 'ZillaSlabHighlight';
  src: url('TTFs/ZillaSlabHighlight-Bold.ttf') format('truetype');
  font-weight: bold; /* Specify font weight as bold for bold font */
  font-style: normal; /* Specify font style as normal for bold font */
}

/*---- ZillaSlab ----*/
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-Light.ttf') format('truetype');
  font-weight: 300; /* Specify font weight as 300 for light font */
  font-style: normal;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-LightItalic.ttf') format('truetype');
  font-weight: 300; /* Specify font weight as 300 for light-italic font */
  font-style: italic;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-Medium.ttf') format('truetype');
  font-weight: 500; /* Specify font weight as 500 for medium font */
  font-style: normal;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-MediumItalic.ttf') format('truetype');
  font-weight: 500; /* Specify font weight as 500 for medium-italic font */
  font-style: italic;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Specify font weight as 600 for semi-bold font */
  font-style: normal;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600; /* Specify font weight as 600 for semi-bold-italic font */
  font-style: italic;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ZillaSlab';
  src: url('TTFs/ZillaSlab-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*---- ZhiMangXing ----*/
@font-face {
  font-family: 'ZhiMangXing';
  src: url('TTFs/ZhiMangXing-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---- Zeyada ----*/
@font-face {
  font-family: 'Zeyada';
  src: url('TTFs/Zeyada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---- ZenTokyoZoo ----*/
@font-face {
  font-family: 'ZenTokyoZoo';
  src: url('TTFs/ZenTokyoZoo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---- ZenOldMincho ----*/
@font-face {
  font-family: 'ZenOldMincho';
  src: url('TTFs/ZenOldMincho-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenOldMincho';
  src: url('TTFs/ZenOldMincho-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ZenOldMincho';
  src: url('TTFs/ZenOldMincho-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ZenOldMincho';
  src: url('TTFs/ZenOldMincho-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ZenOldMincho';
  src: url('TTFs/ZenOldMincho-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*---- ZenMaruGothic ----*/
@font-face {
  font-family: 'ZenMaruGothic';
  src: url('TTFs/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenMaruGothic';
  src: url('TTFs/ZenMaruGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ZenMaruGothic';
  src: url('TTFs/ZenMaruGothic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ZenMaruGothic';
  src: url('TTFs/ZenMaruGothic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZenMaruGothic';
  src: url('TTFs/ZenMaruGothic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*---- ZenLoop ----*/
@font-face {
  font-family: 'ZenLoop';
  src: url('TTFs/ZenLoop-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenLoop';
  src: url('TTFs/ZenLoop-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*---- ZenKurenaido ----*/
@font-face {
  font-family: 'ZenKurenaido';
  src: url('TTFs/ZenKurenaido-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenLoop';
  src: url('TTFs/ZenLoop-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/*---- ZenKakuGothicNew ----*/
@font-face {
  font-family: 'ZenKakuGothicNew';
  src: url('TTFs/ZenKakuGothicNew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKakuGothicNew';
  src: url('TTFs/ZenKakuGothicNew-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicNew';
  src: url('TTFs/ZenKakuGothicNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicNew';
  src: url('TTFs/ZenKakuGothicNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicNew';
  src: url('TTFs/ZenKakuGothicNew-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*---- ZenKakuGothicAntique ----*/
@font-face {
  font-family: 'ZenKauGothicAntique';
  src: url('TTFs/ZenKakuGothicAntique-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicAntique';
  src: url('TTFs/ZenKakuGothicAntique-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicAntique';
  src: url('TTFs/ZenKakuGothicAntique-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicAntique';
  src: url('TTFs/ZenKakuGothicAntique-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ZenKauGothicAntique';
  src: url('TTFs/ZenKakuGothicAntique-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
